.detailsWrapper {
    max-width: 900px;
    margin:40px auto;
    background: #f5f0e5;
    color: #584b44;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    gap: 30px;
}

.image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 2rem;
}

.text {
    font-size: 1rem;
    font-weight: 600;
}

.text span {
    font-weight: 400;
}

.buttons {
    display:flex;
    gap: 10px;
    margin-top: auto;
    justify-content: flex-end;
}

.button {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background: #584b44;
    border: none;
    border-radius: 8px;
    color: #f5f0e5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: background 0.2s ease;
}

.button:hover {
    background: #b3a298;
}