.card {
    width: 280px;
    background: #f5f0e5;
    color: #584b44;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    font-size: 1.2rem;
}

.text {
    font-weight: 600;
}

.text span {
    font-weight: 400;
}

.button {
    margin-top: 10px;
    padding: 10px;
    background: #584b44;
    border: none;
    border-radius: 8px;
    color: #f5f0e5;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s ease;
    text-decoration: none;
    text-align: center;
}


.button:hover {
    background: #b3a298;
}

