.home {
    min-height: 100%;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://i.pinimg.com/1200x/06/5a/97/065a971bd2079220ac781b1bc4e956b8.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    color: #f5f0e5;
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.text {
    font-size: 1.2rem;
}

.catalog {
    color: #f5f0e5;
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
}