.myPostsSection {
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #f5f0e5;
}

.noItems {
    text-align: center;
    color: #f5f0e5;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
}